@import "../css/reset.css";
/*@import "../css/skeleton.css";*/
/*@import "../css/superfish.css";*/
@import "../css/elastislide.css";
/*@import "../css/owl.carousel.css";*/
@import "../css/flexslider.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html,
body{width:100%; height: 100%;}

body {
  font-family: 'Roboto', sans-serif;;
  font-weight: 300;
  font-size:12px;
  line-height:16px;
  color:#676767;
  min-width:960px;
  //min-height: 678px;
  background: #fff;
  -webkit-text-size-adjust: none;
}

.flex-direction-nav a 
{
	z-index: 100;
}
.global_wrap{
  position: relative;
  height: 100%;
  width: 100%;
  
} 

.spinner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
}
  .spinner_logo{
    width: 204px;
    height: 113px;
    left: 50%;
    top: 50%;
    margin: -56px 0 0 -102px;
  }
  .spinner_img1{
    margin-bottom: 24px;
  }
  .spinner_logo img{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  .spinner_img1,
  .spinner_img2{
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px);
    -moz-transform: translate(0,-20px);
    opacity: 0;
  }
  .spinner.show .spinner_img1,
  .spinner.show .spinner_img2,
  .show .m_navigation,
  .show #content,
  .show .nav_bottom{
    transform: translate(0px,0);
    -webkit-transform: translate(0px,0);
    -o-transform: translate(0px,0);
    -moz-transform: translate(0px,0);
    opacity: 1;
  }
  .spinner.show .spinner_img2{
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .spinner .timeline{
    height: 5px;
    background-color: #cfcfcf;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 3000ms cubic-bezier(0.000, 0.975, 0.220, 1.000); 
   -moz-transition: all 3000ms cubic-bezier(0.000, 0.975, 0.220, 1.000); 
    -ms-transition: all 3000ms cubic-bezier(0.000, 0.975, 0.220, 1.000); 
     -o-transition: all 3000ms cubic-bezier(0.000, 0.975, 0.220, 1.000); 
        transition: all 3000ms cubic-bezier(0.000, 0.975, 0.220, 1.000); /* custom */
  }
  .spinner.show .timeline{
    width: 100%;
  }
  
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left.logo {
  position: absolute;
  right: 0;
  z-index: 12;
}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/




/*----------------------> Links And buttons <------------------*/
a {
  color:#676767;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}

.link1{
  text-decoration: underline;
}
.link1:hover{
  text-decoration: none;
  color: #929292;
}

/*======================> Navigation <======================*/
.open_nav_btns{
  display: none;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  border-left: none;
  position: relative;
  z-index: 999;
}
  .open_nav_btns a{
    display: block;
    width: 50%;
    text-align: center;
    height: 49px;
    float: left;
    line-height: 49px;
    font-size: 16px;
    color: #949494;
    font-weight: 100;
    position: relative;
  }
    .open_nav_btns a:before{
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background: #e1e1e1;
      content: "";
    }
/*
#about_btn{
  display: none;
}

.home_page #about_btn{
  display: block;
}
*/
div.open_nav_btns #nbgallery{
  display: none;
}

.home_page #nbgallery{
  display: block;
}

header {}
header h1{}
.logo a {
  display:block;
  width:132px;
  height:142px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
  margin-top: 15px;
}

.lang_list{
  font-size: 10px;
  line-height: 13px;
  padding: 0 9px 0;
}
  .lang_item{
    margin-bottom: 10px;
  }
    .lang_list a{
      color: #dbdbdb;
    }
    .lang_list a:hover,
    .lang_list a.active{
      color: #676767;
    }

.menu{
  padding: 25px 0 0;
}
.reg.menu{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
  .menu_item{
    margin-bottom: 8px;
  }
  .menu_item.hide_menu_item{
  	display: none;
  }
    .menu_item a{
      font-size: 12px;
      line-height: 16px;
      color: #000;
      display: inline-block;
      overflow: hidden;
      height: 16px;
      position: relative;
    }
      
      .menu_item a span{
        display: inline-block;
        position: relative;
      }
      

      .menu_item.current a{
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        transform: translateX(10px);
      }
      .menu_item a:hover,
      .menu_item.current a{
        color: #b7b7b7;
      }
      /*.menu_item a:active{
        color: #525252;
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        transform: translateX(5px);
      }*/
      .menu_item.current a{
        font-size: 14px;
      }

.m_navigation{
  background: #FFE9B5;
  width: 200px;
  max-width: 30%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 80px;
  z-index: 11;
}
.m_navigation .reg.menu .menu_item {
  border: 1px solid #000;
  padding: 10px 15px;
  background-color: #fff;
  text-align: center;
}

.sub-menu{
  background: #fff;
  width: 170px;
  max-width: 30%;
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  padding-bottom: 80px;
  z-index: 11;
  text-transform: uppercase;
  text-align: center;
}
.sub-menu .nav_inner {
  height: 100%;
  width: 100%;
  display: table;
  padding: 0!important;
}
@media only screen and (min-width: 768px) {
  .nav_bottom,
  .m_navigation{
    transform: translate(-30px,0);
    -webkit-transform: translate(-30px,0);
    -o-transform: translate(-30px,0);
    -moz-transform: translate(-30px,0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 0;
  }
}

  .nav_inner{
    padding: 0 0 0 20px;
    display: table;
    height: 100%;
    position: relative;
  }

.nav_bottom{
  bottom: 14px;
  left: 68px;
  z-index: 11;
}

@media (max-width: 1024px)
{
	.nav_bottom{
		bottom: 30px;
	}
}

/*===========> Portfolio Carousel <===========*/
#projects_list{display: none;}
#portfolio_slider{
  margin: 52px 1px 61px;
  position: relative;
}
  #portfolio_slider .buttons{
    display: block !important;
    width: 20px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -27px;
  }
    #portfolio_slider .buttons:before{
      display: block;
      position: absolute;
      width: 50px;
      height: 40px;
      left: -15px;
      top: -10px;
      content: "";
    }
  #portfolio_slider .buttons.disable{display: none;}
  
  #portfolio_slider .buttons.prev{
    top: -30px;
    background: url("../images/carousel_prev.png") no-repeat;
  }
  #portfolio_slider .buttons.next{
    bottom: -30px;
    background: url("../images/carousel_next.png") no-repeat;
  }
  #portfolio_slider .buttons.disable{display: none !important;}
  #portfolio_slider .buttons:hover{
    background-position: 0 -10px;
  }

  #portfolio_slider .viewport{
    height: 386px;
    overflow: hidden;
    position: relative;
  }
  #portfolio_slider .overview{
    position: absolute;
    left: 0 !important;
  }
  .portfolio_item{
    margin-bottom: 19px;
    height: 82px;
  }
    .portfolio_item a{
      color: #b7b7b7;
    }
    .portfolio_item a img{
      width: 100%;
    }
    .portfolio_item:hover a,
    .portfolio_item.current_item a{
      color: #525252;
    }
  
  .projects_list{display: none;}

  

  .portfolio_img,
  .portfolio_descr{
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
  
  .portfolio_img a{
    display: block;
    position: relative;
    width: 82px;
    height: 82px;
    overflow: hidden;
  }
  @media (max-width:1024px)
  {
	.portfolio_img a{
		height: 80px;
	}
  }
  .portfolio_img img{
      /*-webkit-transform: translateZ(0);*/
    /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);*/
    /* IE 5.5+ 
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	*/
	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */

  }
  .portfolio_item:hover img.grayscale-img,
  .portfolio_item.current_item img.grayscale-img{
      display: none;
  }
  .portfolio_item:hover img,
  .portfolio_item.current_item img{
	/*
    filter: grayscale(0.1);
    -webkit-filter: grayscale(0.1);
    -moz-filter: grayscale(0.1);
    -ms-filter: grayscale(0.1);
    -o-filter: grayscale(0.1); */
    /* IE 5.5+ 
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
  
  .portfolio_item:hover img{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .portfolio_descr{
    padding: 0px 40px 0 18px;
  }
    .portfolio_title{
      vertical-align: middle;
    }
      .portfolio_title a{
        display: inline-block;
        vertical-align: middle;
      }

      .portfolio_title:after{
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: "";
      }

    .rollover{
      display: block;
      position: absolute;
      z-index: 9;
      height: 100%;
      width: 100%;
      background: #fff;
      opacity: 0.5;
    }
    .portfolio_item:hover .rollover,
    .portfolio_item.current_item .rollover{
      opacity: 0;
    }

.social_icons{
  padding: 0 0 10px 1px;
}
  .soc_icon{
    display: block;
    position: relative;
    float: left;
    margin-right: 7px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* IE 5.5+ */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  }
  .soc_icon:before{
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    content: "";
  }
  .soc_icon:hover:before{
    opacity: 0;
  }
  .soc_icon:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    /* IE 5.5+ */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
  }

.created_by{
  font-size: 11px;
  color: #b7b7b7;
}
  .created_by span{
    display: inline-block;
    border-bottom: 1px solid #e6e6e6;
  }
/*=====================> Content ========================*/
#content{
  margin:0px 0 0px 341px;
  width:auto;
  overflow: hidden;
  min-height: 1px; /*min-height: 1500px;*/
  height: 100%;
  position: relative;
  z-index: 10;
  transform: translate(-40px,0);
  -webkit-transform: translate(-40px,0);
  -o-transform: translate(-40px,0);
  -moz-transform: translate(-40px,0);
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  transition-delay: 1.5s;
  opacity: 0;
  
  
  
}
.cycle-carousel-wrap{bottom: 0;}
.preloader { background: #ffffff;}
.bx-ie .preloader{

}
#content_inner{
  width: 100%;
  height: 100%;
}
#preloader, #new_preloader{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 88;
  opacity: 0;
  /*background: url("../images/preloader.gif") 43% 50% no-repeat #fff;*/
  background-color: #fff;
}

#carousel{
  height: 100%;
  min-width: 1024px;
}
.cont_pad{padding:0 0 0 0 !important;}

.bg1:after{
  background-color: #dbeae4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 200%;
  content: "";
}
.content_item{
  height: 100%;
  overflow: hidden;
  /*width: 512px;*/
  white-space: normal;
  position: relative !important;
}
  .content_item>img{width: auto;height:100%;}
  .content_item_inner{
    padding: 60px 80px 0 41px;
  }
  .content_item_inner1{
    padding: 61px 30px 0 43px;
  }
  .content_item_inner2{
    padding: 20px 60px 0 41px;
  }
  .content_item_img{overflow: hidden;height: 100%;}
  .content_item_img img{
    height: 100%;
    display: block;
    float: right;
    /*width: 100%;*/
  }
  .cycle-next{
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 999;
    /*background:rgba(255,255,255,0.8);*/
    cursor:url("../images/next_arrow.png"),default;
    top: 0px;
    right: 0;
  }
  .bx-ie .cycle-next{
    background: url("../images/next_arrow.png") 50% 50% no-repeat rgba(255,255,255,0.8);
    cursor: pointer;
  }
  /*.cycle-next:hover{
    background-color: rgba(255,255,255,0.6);
  }*/

.direct_img{
  margin: 4px 10px 0 0px;
  width: 170px;
}
.direct_description{
  color: #858585;
  
}
  .direct_name{
    color: #858585;
    padding-top: 1px;
    font-size: 16px;
  }
  .position{
    font-size: 12px;
    color: #858585;
  }
/*=====================> Download page ========================*/
.text_box{
  padding-right: 100px;
}

.content_img{
  bottom: 0;
  left: 0;
  width: 100%;
}
  .content_img p{
    margin-bottom: 26px;
    padding-left: 41px;
  }
  .content_img a{
    text-decoration: underline;
  }
  .content_img a:hover{
    color: #676767;
  }
  .content_img img{max-width: 100%;width: 100%;}

.downloads .content_item_inner{
  min-height: 220px;
}

/*=====================> Vacancy page ========================*/

.resume_address{
  margin-top: 27px;
  padding-left: 21px;
}


/*=====================> Contact page ========================*/

.address_list{
  padding: 9px 0 0;
}
.address_list>li{
  margin-top: 10px;
}
.address_description{
  overflow: hidden;
  padding-top: 1px;
}
.label{
  float: left;
  width: 180px;
  font-weight: 500;
}
/*=====================> Gallery Page ========================*/

.slide_list_label{
  width: 180px;
}
.slide_list{
  margin-bottom: 21px;
}
.slide_list>li{
  margin-top: 11px;
}
.slide_list>li:first-child{
  margin-top: 0;
}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:11px;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 2px 5px no-repeat;
  padding-left:21px;
}
.list1 li{
  margin-top: 10px;
}
.list1 li:first-child,
.address_list>li:first-child{
  margin-top: 0;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker2.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker3.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:300;
}
.title1{
  font-size: 18px;
  line-height: 21px;
  color:#676767;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 33px;
  text-shadow: 1px 1px rgba(255,255,255,0.35);
}
  .title1.var1{
    height: 21px;
  }
  .title1.ind1{
    margin-bottom: 23px;
  }
  .slide_caption{
    margin-bottom: 7px;
  }

.gray{
  color: #858585;
}
.lt_gray,
.lt_gray a{
  color: #929292;
}
.title2{
  font-size: px;
  line-height: px;
  color:#;
}
.title5{
  font-size: 14px;
  line-height: 18px;
  color: #929292;
  font-weight: 500;
  margin-bottom: 14px;
}
  .title5.d_gray{
    color: #676767;
  }
.t_ind{ margin-bottom:9px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a,
.portfolio_item img,
/*.soc_icon img,*/
.soc_icon:before,
.whitebox,
.rollover,
.owl-buttons .owl-next,
.cycle-next{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

/*,
.slides>li:before*/
a.buttons:hover{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
/*.slides .flex-active-slide:before{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}*/
/*.slides li.hoverlay:before{
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}*/
.slides li.first:before,
.slides li.last:before{
  -webkit-transition: all 1.5s linear !important;
  -moz-transition: all 1.5s linear !important;
  -o-transition: all 1.5s linear !important;
  transition: all 1.5s linear !important;
}

a:hover,
a:active,
.soc_icon:hover:before{
    -webkit-transition: all 50ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-transition: all 50ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
    -ms-transition: all 50ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-transition: all 50ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        transition: all 50ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.portfolio_item:hover img,
.portfolio_item:hover .rollover{
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.menu_item a:hover,
.menu_item a:hover span,
.menu_item a:hover span:after{
    -webkit-transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
    -ms-transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        transition: all 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
.menu_item a{
  -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.map_wrapper{
  overflow:hidden;
}
.map_wrapper img{width:100% !important; height:auto !important;}

/*================================>> Contacts Info <<========================================*/

#map-canvas,
#map-canvas1,
#map_canvas{
   width:100%;
   height:586px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
  <a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
  <a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
  <a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
  <a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
}
footer .social{
  overflow:hidden;
}
footer .social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
footer .social a:first-child{margin: 0 0 0 0;}
footer .social a:hover img{
  margin-top:-32px;
}


/*================================>> Preloader <<========================================*/
.windows8 {
position: absolute;
width: 45px;
height:45px;
left: 43%;
top:50%;
}

.windows8 .wBall {
position: absolute;
width: 43px;
height: 43px;
opacity: 0;
-moz-transform: rotate(225deg);
-moz-animation: orbit 7.15s infinite;
-webkit-transform: rotate(225deg);
-webkit-animation: orbit 7.15s infinite;
-ms-transform: rotate(225deg);
-ms-animation: orbit 7.15s infinite;
-o-transform: rotate(225deg);
-o-animation: orbit 7.15s infinite;
transform: rotate(225deg);
animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 6px;
height: 6px;
background: #DEDEDE;
left:0px;
top:0px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
}

.windows8 #wBall_1 {
-moz-animation-delay: 1.56s;
-webkit-animation-delay: 1.56s;
-ms-animation-delay: 1.56s;
-o-animation-delay: 1.56s;
animation-delay: 1.56s;
}

.windows8 #wBall_2 {
-moz-animation-delay: 0.31s;
-webkit-animation-delay: 0.31s;
-ms-animation-delay: 0.31s;
-o-animation-delay: 0.31s;
animation-delay: 0.31s;
}

.windows8 #wBall_3 {
-moz-animation-delay: 0.62s;
-webkit-animation-delay: 0.62s;
-ms-animation-delay: 0.62s;
-o-animation-delay: 0.62s;
animation-delay: 0.62s;
}

.windows8 #wBall_4 {
-moz-animation-delay: 0.94s;
-webkit-animation-delay: 0.94s;
-ms-animation-delay: 0.94s;
-o-animation-delay: 0.94s;
animation-delay: 0.94s;
}

.windows8 #wBall_5 {
-moz-animation-delay: 1.25s;
-webkit-animation-delay: 1.25s;
-ms-animation-delay: 1.25s;
-o-animation-delay: 1.25s;
animation-delay: 1.25s;
}

@-moz-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-moz-transform: rotate(180deg);
-moz-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-moz-transform: rotate(300deg);
-moz-animation-timing-function: linear;
-moz-origin:0%;
}

30% {
opacity: 1;
-moz-transform:rotate(410deg);
-moz-animation-timing-function: ease-in-out;
-moz-origin:7%;
}

39% {
opacity: 1;
-moz-transform: rotate(645deg);
-moz-animation-timing-function: linear;
-moz-origin:30%;
}

70% {
opacity: 1;
-moz-transform: rotate(770deg);
-moz-animation-timing-function: ease-out;
-moz-origin:39%;
}

75% {
opacity: 1;
-moz-transform: rotate(900deg);
-moz-animation-timing-function: ease-out;
-moz-origin:70%;
}

76% {
opacity: 0;
-moz-transform:rotate(900deg);
}

100% {
opacity: 0;
-moz-transform: rotate(900deg);
}

}

@-webkit-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-webkit-transform: rotate(180deg);
-webkit-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-webkit-transform: rotate(300deg);
-webkit-animation-timing-function: linear;
-webkit-origin:0%;
}

30% {
opacity: 1;
-webkit-transform:rotate(410deg);
-webkit-animation-timing-function: ease-in-out;
-webkit-origin:7%;
}

39% {
opacity: 1;
-webkit-transform: rotate(645deg);
-webkit-animation-timing-function: linear;
-webkit-origin:30%;
}

70% {
opacity: 1;
-webkit-transform: rotate(770deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:39%;
}

75% {
opacity: 1;
-webkit-transform: rotate(900deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:70%;
}

76% {
opacity: 0;
-webkit-transform:rotate(900deg);
}

100% {
opacity: 0;
-webkit-transform: rotate(900deg);
}

}

@-ms-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-ms-transform: rotate(180deg);
-ms-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-ms-transform: rotate(300deg);
-ms-animation-timing-function: linear;
-ms-origin:0%;
}

30% {
opacity: 1;
-ms-transform:rotate(410deg);
-ms-animation-timing-function: ease-in-out;
-ms-origin:7%;
}

39% {
opacity: 1;
-ms-transform: rotate(645deg);
-ms-animation-timing-function: linear;
-ms-origin:30%;
}

70% {
opacity: 1;
-ms-transform: rotate(770deg);
-ms-animation-timing-function: ease-out;
-ms-origin:39%;
}

75% {
opacity: 1;
-ms-transform: rotate(900deg);
-ms-animation-timing-function: ease-out;
-ms-origin:70%;
}

76% {
opacity: 0;
-ms-transform:rotate(900deg);
}

100% {
opacity: 0;
-ms-transform: rotate(900deg);
}

}

@-o-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-o-transform: rotate(180deg);
-o-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-o-transform: rotate(300deg);
-o-animation-timing-function: linear;
-o-origin:0%;
}

30% {
opacity: 1;
-o-transform:rotate(410deg);
-o-animation-timing-function: ease-in-out;
-o-origin:7%;
}

39% {
opacity: 1;
-o-transform: rotate(645deg);
-o-animation-timing-function: linear;
-o-origin:30%;
}

70% {
opacity: 1;
-o-transform: rotate(770deg);
-o-animation-timing-function: ease-out;
-o-origin:39%;
}

75% {
opacity: 1;
-o-transform: rotate(900deg);
-o-animation-timing-function: ease-out;
-o-origin:70%;
}

76% {
opacity: 0;
-o-transform:rotate(900deg);
}

100% {
opacity: 0;
-o-transform: rotate(900deg);
}

}

@keyframes orbit {
0% {
opacity: 1;
z-index:99;
transform: rotate(180deg);
animation-timing-function: ease-out;
}

7% {
opacity: 1;
transform: rotate(300deg);
animation-timing-function: linear;
origin:0%;
}

30% {
opacity: 1;
transform:rotate(410deg);
animation-timing-function: ease-in-out;
origin:7%;
}

39% {
opacity: 1;
transform: rotate(645deg);
animation-timing-function: linear;
origin:30%;
}

70% {
opacity: 1;
transform: rotate(770deg);
animation-timing-function: ease-out;
origin:39%;
}

75% {
opacity: 1;
transform: rotate(900deg);
animation-timing-function: ease-out;
origin:70%;
}

76% {
opacity: 0;
transform:rotate(900deg);
}

100% {
opacity: 0;
transform: rotate(900deg);
}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   
   .cycle-carousel-wrap .content_img figure,
   .cycle-carousel-wrap .content_img .preloader,
   .cycle-carousel-wrap .content_img .preloader img,
   .cycle-carousel-wrap .content_item_img img{
		visibility:visible !important;
		opacity:1 !important;
   }
}

/*********************** News styles ***********************/

.owl-item {
    float:left;
}

.direct_box {
    margin-bottom:30px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.langWay {
    overflow:hidden;
    padding:0;
    margin:0;
    list-style:none;
    background:#fff;
}
.langWay li {
    float:left;
/*	max-width: 20%;*/
	width:auto;
}
.langWay li .mediaHolder {
    position:relative;
    display:block;
    cursor:pointer;
    overflow:hidden;
}
.langWay li .mediaHolder:after {
    content:"";
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    background:rgba(255, 255, 255, 1);
	opacity:0.5;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.langWay li .mediaHolder:hover:after {
    opacity:0 !important;
}

@media (max-width: 1049px) {
	.langWay li .mediaHolder>img {
		opacity:0.5 !important;
	}
	.langWay li .mediaHolder>img:hover,
	.langWay li .mediaHolder.active>img{
		opacity:1 !important;
	}
}

@media (max-width: 1049px) and (min-width: 1021px)
{
	.langWay li {
		width:313px;
	}
}

.langWay li .mediaHolder>img {
    margin-left:-1px;
    margin-right:-1px;
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(filters.svg#grayscale);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.langWay li .mediaHolder:hover>img,
.langWay li .mediaHolder.active>img{
	-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%); 
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
}
.langWay li .mediaHolder:hover>img{
    -moz-transform: scale(1.023);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.023);
}

.langWay li .mediaHolder .mediaCaption {
    opacity:0.75;
    display:block;
    position:absolute;
	text-align:center;
    bottom:-100%;
    left:0; right:0;
    line-height:1.2em;
    padding:10px 10px;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    background:#FFE9B5;

    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
}
.langWay li .mediaHolder:hover .mediaCaption {
    opacity:0.95;
    bottom:0;
}

.langWay li .mediaHolder .mediaCaption span {
    display:block;
    position:relative;
    top:20px;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.langWay li .mediaHolder:hover .mediaCaption span {
    top:0;
}

@media (max-width: 1049px) {
    /*.langWay {
        overflow:visible;
    }*/
    /*.langWay li {
        float:none;
    }*/
    .langWay li .mediaHolder>img,
    .langWay li .mediaHolder.active>img{
        filter: grayscale(0.1);
        -webkit-filter: grayscale(0.1);
        -moz-filter: grayscale(0.1);
        -ms-filter: grayscale(0.1);
        -o-filter: grayscale(0.1);
        
        filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    }
    .langWay li .mediaHolder:hover>img, .langWay li .mediaHolder>img{
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .langWay li .mediaHolder .mediaCaption {
        opacity:1;
        position:relative;
        bottom:0;
    }

    .langWay li .mediaHolder:after {
        display:none;
    }

    .langWay li .mediaHolder .mediaCaption span {
        top:0;
    }
}
/* END .langWay */


/*FOR ie 10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .langWay li .mediaHolder:hover>img{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .langWay li .mediaHolder>img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter …\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
  /*.langWay li .mediaHolder:after{display: none;}*/
  #content{
    transform: translate(0px,0);
    -webkit-transform: translate(0px,0);
    -o-transform: translate(0px,0);
    -moz-transform: translate(0px,0);
    opacity: 1;
  }
}
.flex-menu {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.flex-menu li {
  margin-bottom: 8px;
}